[submodule "deps/slre"]
	path = deps/slre
	url = https://github.com/cesanta/slre.git
[submodule "deps/rlutil"]
	path = deps/rlutil
	url = https://github.com/tapio/rlutil.git
[submodule "deps/ttvfs"]
	path = deps/ttvfs
	url = https://github.com/fgenesis/ttvfs.git
[submodule "deps/stlplus"]
	path = deps/stlplus
	url = https://github.com/daleydeng/stlplus3.git
[submodule "deps/minihttp"]
	path = deps/minihttp
	url = https://github.com/fgenesis/minihttp.git
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "deps/cdetect"]
	path = deps/cdetect
	url = https://github.com/IngwiePhoenix/cDetect.git
[submodule "deps/wren"]
	path = deps/wren
	url = https://github.com/munificent/wren.git
[submodule "deps/semver.c"]
	path = deps/semver.c
	url = https://github.com/h2non/semver.c
[submodule "deps/SQLiteCpp"]
	path = deps/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "deps/libdylib"]
	path = deps/libdylib
	url = https://github.com/lethosor/libdylib.git
